.contact-container {
  min-height: 100vh;
  padding: 80px 20px;
  background-color: #561c30;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-title {
  font-size: 70px;
  margin-bottom: 20px;
}

.contact-desc {
  font-size: 20px;
  text-align: center;
  max-width: 700px;
}