.logo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  height: auto;
}

.buton-login{
  position: absolute;
  background-color: blueviolet;
  left: 10%;
  color: aliceblue;
  top: 550px;
  width: 125px;
}

#signUp{
  left: 20%;
}

#title {
  position: absolute;
  font-size: 70px;
  left: 10%;
  top: 150px;
}

#desc {
  position: absolute;
  font-size: 20px;
  left: 10%;
  top: 400px;
  text-align: left;
}

#front-image {
  position: absolute;
  top: 100px;
}

.welcome-container {
  /*position: relative; to ensure absolute children are positioned relative to this container*/
  height: 100vh; /* full screen height */
  width: 100%;
  background: linear-gradient(180deg, #1a1a2e, #16213e) !important;
  z-index: 0;
  text-align: center;
  overflow: hidden;
}